gevent==1.2.2
klein==17.10.0
hyperlink==17.3.1
typing==3.6.2
future==0.16.0
six==1.11.0
jsonschema==2.6.0
matplotlib==2.1.0
requests==2.20.0
tqdm==4.19.5
numpy==1.14.5
simplejson==3.13.2
cloudpickle==0.6.1
packaging==17.1
ruamel.yaml==0.15.78
coloredlogs==9.0
spacy==2.0.18
scikit-learn==0.19.1
scipy==1.1.0
sklearn-crfsuite==0.3.6
websockets==7.0
wxpy==0.3.9.8